<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <link rel = "stylesheet" type="text/css" href="./static/sql注入首页.css">
    </head>
    <body>
        <div id = "header">
            <p id="p1">G</p>
            <p id="p2">SQL注入</p>
        </div>
        <div id="box1">
            <p class="hcqStyle2">请先进行漏洞扫描！</p>
        </div>
        <div id="box2">
            <a href="/"><p class="hcqStyle2"style="font-size:5vh;" >确定</p></a>
        </div>
        <div id="box3">
            <a href="/SQL2"><p class="hcqStyle2"style="font-size:5vh;" >手动配置</p></a>
        </div>
    </body>
</html>