<!DOCTYPE html>
<html>
    <head>
        <title>漏洞扫描</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" type="text/css" href="./static/漏洞扫描.css">
    </head>
    <body>
        <div id = "header">
            <p id="p1">G</p>
            <p id="p2">SQL注入</p>
        </div>
        <div id="box1">
            <img id="img1" src="./static/images/2.1.png">
            <form name="input" action="" method="" class="form1">
                <input type="text">
            </form>
        </div>
        <div id =box2>
            <form class="form2">
                <input type="checkbox" name="type" value=""><div class="box3"><p class="p3">数字型联合注入</p></div><br>
                <input type="checkbox" name="type" value=""><div class="box4"><p class="p3">字符型联合注入</p></div><br>
                <input type="checkbox" name="type" value=""><div class="box5"><p class="p3">报错注入</p></div><br>
                <input type="checkbox" name="type" value=""><div class="box6"><p class="p3">布尔盲注</p></div><br>
                <input type="checkbox" name="type" value=""><div class="box7"><p class="p3">时间盲注</div></div><br>
                </ul>
            </form>
            <img id="img2" src="./static/images/2.2.png">
        </div>
    </body>
</html>